name: Deploy "Samples" Flutter Web to GitHub Pages

on:
  push:
    branches:
      #- master
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.27.2"

      - name: Install Dependencies
        run: |
          cd samples
          flutter pub get

      - name: Analyze Dart Code
        run: |
          cd samples
          flutter analyze

      - name: Format Dart Code
        run: |
          cd samples
          dart format --set-exit-if-changed .

      - name: Build Flutter Web
        run: |
          cd samples
          flutter build web --release

      # - name: Deploy to GitHub Pages
      #   uses: JamesIves/github-pages-deploy-action@v4
      #   with:
      #     branch: gh-pages
      #     folder: samples/build/web
